[submodule "lib/aave-v3-origin"]
	path = lib/aave-v3-origin
	url = https://github.com/aave-dao/aave-v3-origin
[submodule "lib/v3-core"]
	path = lib/v3-core
	url = https://github.com/sushiswap/v3-core
[submodule "lib/v3-periphery"]
	path = lib/v3-periphery
	url = https://github.com/sushiswap/v3-periphery
